/out
/.idea
*.iml
src/web/WEB-INF/web.xml
/src/main/resources/jdbc.properties
/target/
src/Db/schema_DDL.sql
.classpath
.factorypath
.history/
.project
.settings/
.vscode/
TODO
err*
hs_err*
.sts4-cache/
application.log*
